# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env.*

# OS files
.DS_Store
Thumbs.db

# Streamlit specific
.streamlit/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

# IDE folders
.vscode/
.idea/

